<div class = "card-slot"> 
    <div class="card-contents">
        <div class="card-image-container">
            <!-- <img src="<%= imgURL %>" alt="<%= title %>"> -->
        </div>
        <div class="card-info-container">
            <h3 class="card-title"><%= title %></h3>
            <p class="card-type">Type: <%= type %></p>
            <p class="card-casting-cost">Casting Cost: <%= castingCost %></p>
            <p class="card-description"><%= description %></p>
        </div>
    </div>
</div>